<footer class="page-footer my_footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text footer_titles">About Site</h5>
        <p class="grey-text text-lighten-3 description">This site represents the work profile of Fahim Rahman. Feel free to browse around this site. Feel comfortable to contact me regarding any issue via <a class="footer_description_link" href="https://fb.com/livfahim">facebook</a>, email me at <a class="footer_description_link" href="mailto:{{site.email}}">{{site.email}}</a> or fill out a <a class="footer_description_link" href="/contact">contact form</a>.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text footer_titles">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="{{site.github_link}}"><i class="fa fa-facebook-square footer_icons" aria-hidden="true"></i><span class="footer_link_text"> Facebook</span></a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="{{site.linked_in_link}}"><i class="fa fa-linkedin-square footer_icons" aria-hidden="true"></i><span class="footer_link_text"> linkedIn</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Built with ♥ by Fahim Rahman, copyright (c) 2019, All rights reserved.
    </div>
  </div>
</footer>
